<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="POST" action="/admin/2.1">

    <p>
        <label>
            sto
            <input type="text" name="nameSto">
        </label>
        <br>
        <label>
            cellNumber
            <input type="number" name="cellNumber">
        </label>
        <br>
        <label>
            cellRemainder
            <input type="number" name="cellRemainder">
        </label>
    </p>

    <p>
        <input type="submit" value="add">
    </p>
</form>

</body>
</html>